In [1]:
#!pip install selenium

In [2]:
# passo a passo
# passo 1: abrir o navegador
# passo 2: importar a base de dados
# passo 3: para cada produto da base de dados

In [1]:
from selenium import webdriver

# passo 1: abrir o navegador
navegador = webdriver.Chrome()
navegador.get('https://www.google.com')

In [2]:
# passo 2: importar a base de dados
import pandas as pd

tabela = pd.read_excel('commodities.xlsx')
display(tabela)

    Produto  Preço Ideal  Preço Atual  Comprar
0     Milho        85.32          NaN      NaN
1      Soja       163.59          NaN      NaN
2       Boi       282.20          NaN      NaN
3  Petróleo       424.37          NaN      NaN
4   Algodão       497.76          NaN      NaN
5    Açúcar       136.23          NaN      NaN
6      Café      1092.87          NaN      NaN
7      Ouro       321.77          NaN      NaN
8     Trigo      1549.11          NaN      NaN
9   Tilápia         9.05          NaN      NaN

In [3]:
#import unicodedata
#produto = unicodedata.normalize('NFKD', produto).encode('ascii', 'ignore')

for linha in tabela.index:
    produto = tabela.loc[linha, 'Produto']# loc para localizar o produto correspondente de cada linha da tabela
    print(produto)
    produto = produto.replace('ó', 'o').replace('ã', 'a').replace('á', 'a').replace('ç', 'c').replace('ú', 'u').replace('é', 'e')
    link = f'https://www.melhorcambio.com/{produto}-hoje'
    navegador.get(link)
    print(link)
# xpath é um código que todos   
#os elementos tem, para saber como 
#consegui-lo, você precisa inspecionar, clicar em cursor de mouse no canto superior esquerdo, clicar no elemento que 
#você quiser e copiar o código destacado em azul 
    preco = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
    #.click
#send.keys('texto') => escrever
#get_attribute() -> pegar um valor
    preco.replace('.', '').replace(',', '.')
    print(preco)
    tabela.loc[linha, 'Preço Atual'] = preco # substitui os valores vazios com o preço dos produtos
tabela['Preço Atual'].replace(',', '.')
display(tabela)

#preencher a coluna de comprar
tabela['Comprar'] = tabela['Preço Atual'] < tabela['Preço Ideal']
display(tabela)

Milho
https://www.melhorcambio.com/Milho-hoje
75,99
Soja
https://www.melhorcambio.com/Soja-hoje
141,29
Boi
https://www.melhorcambio.com/Boi-hoje
285,90
Petróleo
https://www.melhorcambio.com/Petroleo-hoje
424,08
Algodão
https://www.melhorcambio.com/Algodao-hoje
427,19
Açúcar
https://www.melhorcambio.com/Acucar-hoje
140,96
Café
https://www.melhorcambio.com/Cafe-hoje
1.125,42
Ouro
https://www.melhorcambio.com/Ouro-hoje
318,36
Trigo
https://www.melhorcambio.com/Trigo-hoje
0,00
Tilápia
https://www.melhorcambio.com/Tilapia-hoje
9,40

    Produto  Preço Ideal Preço Atual  Comprar
0     Milho        85.32       75,99      NaN
1      Soja       163.59      141,29      NaN
2       Boi       282.20      285,90      NaN
3  Petróleo       424.37      424,08      NaN
4   Algodão       497.76      427,19      NaN
5    Açúcar       136.23      140,96      NaN
6      Café      1092.87    1.125,42      NaN
7      Ouro       321.77      318,36      NaN
8     Trigo      1549.11        0,00      NaN
9   Tilápia         9.05        9,40      NaN

TypeError: '<' not supported between instances of 'str' and 'float'

In [ ]:
#preencher a coluna de comprar
#tabela["Comprar"] = tabela["Preço Atual"] < tabela["Preço Ideal"]
#display(tabela)

#exportar para o excel
tabela.to_excel('commodities_atualizado.xlsx', index=False)

In [ ]:
link2 = 'https://www.melhorcambio.com/dolar-hoje'
navegador.get(link2)
#print(link2)
preco_dolar = navegador.find_element('xpath', '//*[@id="comercial"]').get_attribute('value')
print(preco_dolar)

In [ ]:
navegador.quit()